.navbar {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid #FF416C;
  box-sizing: border-box;
  height: 3.5rem;
  width: 3rem;
}

.logo img {
  height: 100%;
  width: 5rem;
  vertical-align: middle;
}

ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li {
  display: block;
  height: 100%;
}

li a {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1rem;
}

li a:hover,
li a:active,
li a.active {
  background-color: #fda1b7;
}

.DrawerToggle {
  display: none;
  width: 40px;
  height: 100%;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  padding: 0 16px;
}

.DrawerToggle div {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

@media (max-width: 40rem) {
  .navbar {
    width: 100%;
  }
  .navbar ul {
    display: none;
  }
  .DrawerToggle {
    display: block;
  }
}

@media (max-width: 76rem) and (min-width: 40rem ) {
  .navbar {
    width: 100%;
  }
}
